**/*
!/Makefile
!/rust-toolchain
!/template-cpp/
!/template-cpp/**/*
!/template-rs/
!/template-rs/**/*
!/util-cpp/
!/util-cpp/**/*
!/util-rs/
!/util-rs/**/*
!/.cargo/
!/.cargo/**/*
!/.clang-format
!/.devcontainer/
!/.devcontainer/**/*
!/.gitignore
!/.ignore
